@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid" style="        background-image: url(https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprod%2Fweb%2Fbin%2F5bb138ae-bee3-11ea-9bf8-0608ed4f9cc0.jpg?crop=5760%2C3240%2C0%2C300&resize=1180);
        background-repeat: no-repeat;" align="center">
    <div class="container">
        <h1 class="display-4" style="color:ghostwhite">SafeFoods</h1>
        <p class="lead" style="color: ghostwhite;">
            Healtier recipes of desserts and meals with less carbs and no suggar.
            Check our "Fridge Search" where you can search recipes based on ingredients.
        </p>

    </div>

</div>

<blockquote class="blockquote">
    <p class="mb-0">
        The doctor of the future will no longer treat the human frame with drugs, but rather will cure and prevent disease with nutrition.
    </p>
    <footer class="blockquote-footer">
        Thomas Edison <cite>https://www.birthdaywishes.expert/</cite>
    </footer>
</blockquote>

<div class="row">
    <div class="col-md-4">
        <img alt="Bootstrap Image Preview" src="https://www.mindful.sodexo.com/wp-content/uploads/2019/07/No-Sugar-Challenge-High-Res.jpg" width="360" height="200"/>

        <h2>
            11 Reasons Why Too Much Sugar Is Bad for You
        </h2>
        <p>
            <span>From marinara sauce to peanut butter, added sugar can be found in even the most unexpected products. Many people rely on quick, processed foods for meals and snacks. Since these products often contain added sugar, it makes up a large proportion of their daily calorie intake. In the US, added sugars account for up to 17% of the total calorie intake of adults and up to 14% for children (1Trusted Source). Dietary guidelines suggest limiting calories from added sugar to less than 10% per day (2Trusted Source). Experts believe that sugar consumption is a major cause of obesity and many chronic diseases, such as type 2 diabetes. Here are 11 reasons why eating too much sugar is bad for your health. High-sugar diets have been associated with an increased risk of many diseases, including heart disease, the number one cause of death worldwide (7Trusted Source). Evidence suggests that high-sugar diets can lead to obesity, inflammation and high triglyceride, blood sugar and blood pressure levels</span>
        </p>
        <p>
            <a class="btn" href="#">View details »</a>
        </p>
        <div class="media">
            <img class="mr-3" alt="Bootstrap Media Preview" width="350" height="200"  src="https://i.guim.co.uk/img/media/1ae8f204d7fe0b77637adc69f390cb550597b184/0_0_2560_1536/master/2560.jpg?width=465&quality=45&auto=format&fit=max&dpr=2&s=29c8a5d879f77defab3dd96f94dc6d94" />
            <div class="media-body">
                <h5 class="mt-0">
                    Swimming and Dieting?
                </h5>
                <span>Swimming and dieting are</span> <strong>both important for long-term weight loss and your overall health</strong><span>.</span>
                <div class="media mt-3">
                    <a class="pr-3" href="#"><img alt="Bootstrap Media Another Preview" width="350" height="200"  src="https://i.ytimg.com/vi/zovNBRhPKEY/maxresdefault.jpg" /></a>
                    <div class="media-body">
                        <h5 class="mt-0">
                            Should I eat before swimming ?
                        </h5>
                        <div class="media-body">
                        </div><span>In general, allow</span> <strong>2-4 hours before your swim</strong><span>, following a larger meal to allow for digestion, and 30 minutes.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" alt="Bootstrap Thumbnail First" width="200" height="200" src="https://media.nationalgeographic.org/assets/photos/198/897/95a24eaa-5e33-4778-b06c-96654f3dbf87.jpg" />
                    <div class="card-block">
                        <h5 class="card-title">
                            Food -&gt; Italy
                        </h5>

                        <p>
                            <span>Italian food uses fresh, natural ingredients and</span> <strong>the healthiest of fats</strong><span>, both of which have been found to be associated with lower levels of cancer, heart disease....</span> <a class="btn btn-success" href="#">Read More</a> <a class="btn" href="#">Action</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" alt="Bootstrap Thumbnail Second" width="200" height="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Tour_Eiffel_Wikimedia_Commons.jpg/200px-Tour_Eiffel_Wikimedia_Commons.jpg" />
                    <div class="card-block">
                        <h5 class="card-title">
                            Food -&gt; French
                        </h5>
                        <p class="card-text">
                            <span>The French enjoy a</span> <strong>relatively long life expectancy</strong> <span>compared to other European countries, notably because of the good quality of care delivered by the health system,” ...</span>
                        </p>
                        <p>
                            <a class="btn btn-success" href="#">Read More</a> <a class="btn" href="#">Action</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="https://www.gemconsortium.org/images/news/2020/spain-1582073966.png" width="200" height="200" />
                    <div class="card-block">
                        <h5 class="card-title">
                            Food -&gt; Spanish
                        </h5>
                        <p class="card-text">
                            <span>This Ketogenic diet was called "Spanish Ketogenic Mediterranean Diet" (SKMD) due to the incorporation of virgin olive oil as the principal source of fat (≥30 ml/day)...</span>
                        </p>
                        <p>
                            <a class="btn btn-success" href="#">Read More</a> <a class="btn" href="#">Action</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <h2>
            The Definitive Guide to Healthy Eating in Real Life
        </h2>
        <p>
            <span>Depending on whom you ask, “healthy eating” may take any number of forms. It seems that everyone, including healthcare professionals, wellness influencers, coworkers, and family members, has an opinion on the healthiest way to eat. Plus, nutrition articles that you read online can be downright confusing with their contradictory — and often unfounded</span>
        </p>
        <p>
            <a class="btn btn-success" href="#">Read More</a>
        </p>
    </div>
    <div class="col-md-4">
        <div class="jumbotron card card-block">
            <h2>
                Best Fruit?<br />AVOCADO
            </h2>
            <div class="d9FyLd XcVN5d">
                Yes, the Avocado is a fruit!
            </div>
            <p>
                <span class="hgKElc">Confirmed: the California Avocado is a nutrient-dense fruit, not a vegetable, belonging to the genus Persea in the Lauraceae family. And did you know? The avocado is actually a <strong>berry</strong>! * Avocados are considered a fruit because they fit all of the botanical criteria for a berry.</span>
            </p>
            <p>
                
                <a class="btn btn-success btn-large" href="#">Learn more</a>
            </p>
        </div>

        <h2>
            Healthy Eating Includes Cultural Foods
        </h2>
        <p>
            <span>Healthy eating is sometimes seen as a necessary evil. On one hand, it’s essential to good health, but on the other, it’s suggestive of restriction and self-denial steeped in Eurocentrism. Even in the Caribbean, where I’m from, many nutrition programs are modeled on the American food pyramid, which then implies what healthy eating looks like to the local communities. However, nutrition and healthy eating are not a one-size-fits-all dietary prescription. Traditional meals and food culture deserve a seat at the table too. In this article, I’ll explain why cultural foods are integral to healthy eating. Cultural foods — also called traditional dishes — represent the traditions, beliefs, and practices of a geographic region, ethnic group, religious body, or cross-cultural community. Cultural foods may involve beliefs about how certain foods are prepared or used. They may also symbolize a group’s overall culture.</span>
        </p>
        <p>
            <a class="btn" href="#">View details »</a>
        </p>
    </div>
</div>


