@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid" style="        background-image: url(https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprod%2Fweb%2Fbin%2F5bb138ae-bee3-11ea-9bf8-0608ed4f9cc0.jpg?crop=5760%2C3240%2C0%2C300&resize=1180);
        background-repeat: no-repeat;" align="center">
    <div class="container">
        <h1 class="display-4" style="color:ghostwhite">SafeFoods</h1>
        <p class="lead" style="color: ghostwhite;">
            Healtier recipes of desserts and meals with less carbs and no suggar.
            Check our "Fridge Search" where you can search recipes based on ingredients.
        </p>
        
    </div>
   
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Benefits of Low-Carb </h2>
        <p>
            Low-carb diets have been controversial for decades
            Some people assert that these diets raise cholesterol and cause heart disease due to their high fat content.
            However, in most scientific studies, low-carb diets prove their worth as healthy and beneficial.
            Here are 10 proven health benefits of low-carb and ketogenic diets.
            Cutting carbs is one of the simplest and most effective ways to lose weight.
            Studies illustrate that people on low-carb diets lose more weight, faster, than those on low-fat diets — even when the latter are actively restricting calories.
            This is because low-carb diets act to rid excess water from your body, lowering insulin levels and leading to rapid weight loss in the first week or two (2Trusted Source, 3).
            In studies comparing low-carb and low-fat diets, people restricting their carbs sometimes lose 2–3 times as much weight — without being hungry (4, 5).
            One study in obese adults found a low-carb diet particularly effective for up to six months, compared to a conventional weight loss diet. After that, the difference in weight loss between diets was insignificant (6Trusted Source).
            In a year-long study in 609 overweight adults on low-fat or low-carb diets, both groups lost similar amounts of weight (7Trusted Source).
        </p>
        <p><a class="btn btn-success" href="https://www.healthline.com/nutrition/10-benefits-of-low-carb-ketogenic-diets">Continue Reading &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>11 Reasons Why Too Much Sugar Is Bad for You</h2>
        <p>
            From marinara sauce to peanut butter, added sugar can be found in even the most unexpected products.
            Many people rely on quick, processed foods for meals and snacks. Since these products often contain added sugar, it makes up a large proportion of their daily calorie intake.
            In the US, added sugars account for up to 17% of the total calorie intake of adults and up to 14% for children (1Trusted Source).
            Dietary guidelines suggest limiting calories from added sugar to less than 10% per day (2Trusted Source).
            Experts believe that sugar consumption is a major cause of obesity and many chronic diseases, such as type 2 diabetes.
            Here are 11 reasons why eating too much sugar is bad for your health.
            High-sugar diets have been associated with an increased risk of many diseases, including heart disease, the number one cause of death worldwide (7Trusted Source).
            Evidence suggests that high-sugar diets can lead to obesity, inflammation and high triglyceride, blood sugar and blood pressure levels — all risk factors for heart disease (8Trusted Source).
            Additionally, consuming too much sugar, especially from sugar-sweetened drinks, has been linked to atherosclerosis, a disease characterized by fatty, artery-clogging deposits (9Trusted Source).
            A study in over 30,000 people found that those who consumed 17–21% of calories from added sugar had a 38% greater risk of dying from heart disease, compared to those consuming only 8% of calories from added sugar

        </p>
        <p><a class="btn btn-success" href="https://www.healthline.com/nutrition/too-much-sugar">Continue Reading &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Definitive Guide to Healthy Eating in Real Life</h2>
        <p>
            Depending on whom you ask, “healthy eating” may take any number of forms. It seems that everyone, including healthcare professionals, wellness influencers, coworkers, and family members, has an opinion on the healthiest way to eat.
            Plus, nutrition articles that you read online can be downright confusing with their contradictory — and often unfounded — suggestions and rules.
            This doesn’t make it easy if you simply want to eat in a healthy way that works for you.
            The truth is, healthy eating doesn’t have to be complicated. It’s entirely possible to nourish your body while enjoying the foods you love.
            After all, food is meant to be enjoyed — not feared, counted, weighed, and tracked.
            This article cuts through the noise to explain what healthy eating means and how to make it work for you.
            Before we dive into what healthy eating means, it’s important to explain why it matters.
            First, food is what fuels you and delivers the calories and nutrients your body needs to function. If your diet is deficient in calories or one or more nutrients, your health may suffer.
        </p>
        <p><a class="btn btn-success" href="https://www.healthline.com/nutrition/how-to-eat-healthy-guide">Continue Reading &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Healthy Eating Includes Cultural Foods</h2>
        <p>
            Healthy eating is sometimes seen as a necessary evil.
            On one hand, it’s essential to good health, but on the other, it’s suggestive of restriction and self-denial steeped in Eurocentrism.
            Even in the Caribbean, where I’m from, many nutrition programs are modeled on the American food pyramid, which then implies what healthy eating looks like to the local communities.
            However, nutrition and healthy eating are not a one-size-fits-all dietary prescription. Traditional meals and food culture deserve a seat at the table too.
            In this article, I’ll explain why cultural foods are integral to healthy eating.
            Cultural foods — also called traditional dishes — represent the traditions, beliefs, and practices of a geographic region, ethnic group, religious body, or cross-cultural community.
            Cultural foods may involve beliefs about how certain foods are prepared or used. They may also symbolize a group’s overall culture.
            These dishes and customs are passed down from generation to generation.
            Cultural foods may represent a region, such as pizza, pasta, and tomato sauce from Italy or kimchi, seaweed, and dim sum from Asia. Alternatively, they may represent a colonial past, such as the fusion of West African and East Indian food traditions throughout the Caribbean.
            Cultural foods may play a part in religious celebrations and are often at the core of our identities and familial connections.
        </p>
        <p><a class="btn btn-success" href="https://www.healthline.com/nutrition/healthy-eating-cultural-foods#What-are-cultural-foods?">Continue Reading &raquo;</a></p>
    </div>
</div>